// straight_a/_buttons.scss

.btn-blue {
  @include button-variant($btn-blue-color, $btn-blue-bg, $btn-blue-border);
}

.btn-yellow {
  @include button-variant($btn-yellow-color, $btn-yellow-bg, $btn-yellow-border);
}
