# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
production:
  url:  <%= ENV['DATABASE_URL'] %>
  pool: <%= ENV['DB_POOL'] || ENV['MAX_THREADS'] || 5 %>
  prepared_statements: false

staging:
  url:  <%= ENV['DATABASE_URL'] %>
  pool: <%= ENV['DB_POOL'] || ENV['MAX_THREADS'] || 5 %>
  prepared_statements: false

profile:
  url:  <%= ENV['DATABASE_URL'] %>
  pool: <%= ENV['DB_POOL'] || ENV['MAX_THREADS'] || 5 %>
  prepared_statements: false

development:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV['DEVELOPMENT_DB_NAME'] || 'straight_a_awards' %>
  pool: 5
  username: <%= ENV['DEVELOPMENT_DB_USERNAME'] || `whoami`.strip %>
  password: <%= ENV['DEVELOPMENT_DB_PASSWORD'] || '' %>

test:
  adapter: postgresql
  encoding: unicode
  host: <%= ENV['TEST_DB_HOST'] || 'localhost' %>
  database: <%= ENV['TEST_DB_NAME'] || 'straight_a_awards_test' %>
  pool: 5
  username: <%= ENV['TEST_DB_USERNAME'] || `whoami`.strip %>
  password: <%= ENV['TEST_DB_PASSWORD'] || '' %>
