<h1>Animes#New</h1>

<% if @anime.errors.messages.any? %>
    <div class="errors">
      <h3>Could not save anime due to the following errors:</h3>
      <ul>
        <% @anime.errors.full_messages.each do |message| %>
        <%= content_tag(:li, message) %>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @anime, url: { action: :create } do |f| %>
    <% label :title, 'Tile of the Anime' %>
    <%= f.text_field :title %>
    <%= f.submit 'Create!' %>
<% end %>
