<h1>Admin::Anime#index</h1>

<ul>
  <% @animes.each do |anime| %>
    <li>
      <%= link_to(anime.to_s, admin_edit_anime_path(anime)) %>
    </li>
  <% end %>
  <hr />
  <li>
    <%= link_to 'New Anime', new_admin_animes_path %>
  </li>
</ul>
